<form action="/recipes/<%= @recipe.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <p>Recipe name:</p>
    <input type="text" name="name">
    <p>Recipe ingredients:</p>
    <p><%= @recipe.ingredients%></p> 
    <input type="text" name="ingredients">
    <p>Recipe cook time:</p>
    <input type="text" name="cook_time">

    <input type="submit" action="submit">


</form>